<div class="container">
    <mat-grid-list cols="3" rowHeight="350px">
      <mat-grid-tile *ngFor="let producto of productos">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ producto.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ producto.precio | currency }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="producto.imagen" alt="{{ producto.nombre }}">
          <mat-card-content>
            <p>{{ producto.descripcion }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Añadir al carrito</button>
            <button mat-button (click)="openDialog(producto)">Detalles</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="totalProductos" [pageSize]="10" (page)="cambiarPagina($event)">
    </mat-paginator>
</div>