<div class="container-md">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col" *ngFor="let producto of productos">
      <div class="card mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="bd-placeholder-img img-fluid rounded-start" [src]="producto.imagen" alt="{{ producto.nombre }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <span *ngIf="producto.descuentoActivo; else normalPrice">
                <div class="original-price">{{ producto.precio | currency }}</div>
                <div>{{ calcularPrecioConDescuento(producto) | currency }}</div>
              </span>
              <ng-template #normalPrice>
                <span>{{ producto.precio | currency }}</span>
              </ng-template>
              <div>
                <p *ngIf="producto.descuentoActivo">¡En oferta!</p>
              </div>
              <!--<p class="card-text">{{ producto.descripcion }}</p>-->
            </div>
          </div>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">Añadir al carrito</button>
          <button type="button" class="btn btn-secondary" (click)="openDialog(producto)">Detalles</button>
        </div>
      </div>
    </div>
  </div>
    <!--<mat-paginator [length]="totalProductos" [pageSize]="10" (page)="cambiarPagina($event)">
    </mat-paginator>-->
</div>