.product-card {
    display: flex;
}
  
.product-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.product-image-container {
    flex: 1;
    padding: 10px;
}
  
.product-image {
    max-width: 100%;
    max-height: 100%;
}
  
.product-details-container {
    flex: 2;
    padding: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    margin-bottom: 5px;
}